.btnsContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 10px;
}

.btnAddTask {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectSize{
    width: 20%;
}